body{
    background: #F3F9FF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex; 
    padding:10px;
    margin:10px;
    background:#006EFF;
}

.assignment img{
    width:200px;
    border:2px solid#000000;
    padding:10px;
}

h1{
    color:#000000;
    text-align:center;
}

a{
    text-decoration:none;
    color: #000AEB;
}