body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url(images/backgroundcat.jpeg);
    background-size: auto;
}

/* Typography */

h1 {
    color: #8C1C1C;
}

h2 {
    color: #402C2A;
}

p {
    color: #21265D;
}

/* Navigation */

#main-nav a {
    text-decoration: none;
    background: #BFA68F;
}

#main-nav a:hover {
    background: #8FD2FF;
}

.images-container {
    border: 2px solid #ddd; 
    padding: 5px; 
    text-align: center; 
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: blanchedalmond;
}

th, td {
    padding: 10px; 
    border: 1px solid #000; 
  }